name: '有为推送任务'
on:
  schedule:
    - cron: '0 0 * * *'
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: '指定python环境'
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: '安装python依赖'
      run: |
        python -m pip install --upgrade pip
        pip config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple
        pip install requests==2.28.1
        pip install zhdate==0.1
    - name: '有为消息'
      run: |
        python ./main.py
